body
{
    background: #181717;;
    color: white;
}

h1
{
    text-align: center;
    font-size: 80px;
}

h2
{
    text-align: center;
    font-size: 60px;
}

p
{
    text-align: center;
    font-size: 30px;
}

#piano
{
    display: block;
    margin: 0 auto;
    padding-top: 50px;
    width: 60%
}
