body
{
    background: #181717;;
    color: white;
}

h1
{
    text-align: center;
    font-size: 80px;
}

h2
{
    text-align: center;
    font-size: 60px;
}

.collapsible 
{
    background-color: #2e2e2e;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    border: none;
    outline: none;
}

.panel 
{
    background-color: #0a0a0a;
    display: none;
    overflow: hidden
}

p
{
    text-align: center;
    font-size: 30px;
}

ul 
{
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}

img
{
    display: block;
    margin: 0 auto;
}

figcaption
{
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}

#piano
{
    padding-top: 50px;
    width: 60%
}

#play-note-button
{
    margin-top: 20px;
    font-size: 30px;
    border-radius: 8px;
    background-color: green;
}

#instruction-list
{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

#natural-keys, #accidential-keys, #octaves-instructions
{
    text-align: left;
}

#github-image
{
    width: 80px;
    margin-top: 100px;
}

footer
{
    background-color: black;
    text-align: center;
}

#mobile
{
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 655px)
{
    #instruction-list
    {
        display: inline-block;
    }

    #accidential-keys
    {
        padding-top: 20px;
    }

    #octaves-instructions
    {
        padding-top: 20px;
        margin-left: -20px;
    }

}

@media screen and (max-width: 397px)
{
    h1
    {
        font-size: 60px;
    }

    h2
    {
        font-size: 40px;
    }

    #instruction-list
    {
        display: inline-block;
    }

    #accidential-keys
    {
        padding-top: 20px;
    }

    #octaves-instructions
    {
        padding-top: 20px;
        margin-left: -20px;
    }

}